html, body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#content2, #content3, #q2, #q3, #q4, #q5, #result1, #result2, #result3 {
    display: none
}

.main-content {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

@keyframes tapa_superior {
    from {
        top: 0
    }
    to {
        top: -40px
    }
}

@media (max-width: 500px) {
    @keyframes tapa_superior {
        from {
            top: 0
        }
        to {
            top: -30px
        }
    }
}

.main-content .result {
    margin: 0;
    padding: 5px 0 5px 25px
}

.main-content p {
    font-size: 14px
}

.weui_dialog {
    position: fixed;
    z-index: 998;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fafafc;
    text-align: center;
    border-radius: 10px;
    font-family: arial
}

.weui_mask {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6)
}

.weui_dialog_hd {
    padding: 0em 0 .3em;
    margin-top: 15px;
}

.weui_dialog_bd {
    padding: 0 20px;
    font-size: 16px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all
}

.weui_dialog_ft {
    width: 90%;
    margin-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    line-height: 1.6rem;
    margin-top: 20px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.weui_dialog_ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.weui_btn_dialog.primary {
    color: #fff
}

.weui_dialog_ft .btn {
    background-color: #0090a2;
    color: #ffffff;
    font-size: 1.2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-tap-highlight-color: transparent
}

.weui_dialog_title {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    margin-top: 10px;
}

.weui_close {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
}

.weui_dialog_ft .btn {
    width: 80%;
    max-width: 345px;
    margin: 15px auto;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
}

.aheader {
    width: 100%;
    height: 48px;
    z-index: 8;
    text-align: center;
    background-color: #00789e;
    position: fixed;
    top: 0px;
}

.menus {
    float: left;
    padding: 14px;
}

.menu {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-position: -20px -378px;
    margin-right: 10px;
}

.icon {
    background-image: url(https://1.bp.blogspot.com/-Ybcjl-XGNc4/YEj3-sn0UNI/AAAAAAAAAXA/jHxxMUCtiIgaqtp80p1kTLm1cwkCWBYeACLcBGAsYHQ/s16000/icon_.png);
    background-size: 275px;
}

.alogo {
    display: block;
    float: left;
    height: 27px;
    width: 120px;
    background-position: -74px -143px;
    margin-top: 13px;
    margin-left: 70px;
    background-image: url(https://cdn.jsdelivr.net/gh/ffcdn/fastly/uefa/img/uefa-2021.jpg);
    background-size: 275px;
}

.sign {
    display: block;
    float: right;
    line-height: 48px;
    font-size: 13px;
    color: #fff;
    font-family: inherit;
}

.cart {
    display: block;
    background-image: url(https://1.bp.blogspot.com/-Ybcjl-XGNc4/YEj3-sn0UNI/AAAAAAAAAXA/jHxxMUCtiIgaqtp80p1kTLm1cwkCWBYeACLcBGAsYHQ/s16000/icon_.png);
    background-size: 275px;
    background-position: -10px -240px;
    width: 37px;
    height: 27px;
}

.cart-count {
    color: #f90;
    text-align: center;
    line-height: 10px;
    font-weight: 700;
    text-decoration: none;
    padding: 0 0 0 6px;
    font-size: 16px;
    position: relative;
    top: -5px;
}

.survey {
    padding: 0 20px 20px;
}

p.question {
    font-size: 15px
}

.survey_button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.survey_button {
    border: 2px solid #f0f0f0;
    color: #fff;
    padding: 8px 0;
    margin: 8px 0;
    text-align: center;
    cursor: pointer;
    background-color: #0090a2;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .74)
}

.boxes, .boxes cbox, .boxes .try img {
    width: 100%
}

.boxes {
    margin: 10px auto;
    max-width: 800px
}

.boxes > .try {
    position: relative;
    display: inline-block;
    width: 23.8%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer
}

@media (max-width: 767px) {
    .boxes > .try {
        width: 32.5%
    }

    .boxes > .try:nth-child(-n+4) {
        display: none
    }
}

@media (max-width: 479px) {
    .boxes > .try {
        width: 32%
    }
}

@media (max-width: 319px) {
    .boxes > .try {
        width: 48%
    }

    .boxes > .try:nth-child(-n+5) {
        display: none
    }
}

.div_img_gift {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center
}

.img_gift {
    display: none;
    width: 70%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    margin: 0 auto
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes tapa_superior {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.boxes {
    background-size: cover;
    border-radius: 20px;
    position: relative;
    text-align: center
}

.try {
    position: relative;
    margin: 20px 0
}

.try > div {
    position: absolute
}

.try .caja {
    position: relative
}

.caja_trasera {
    z-index: 1
}

.caja_tapa {
    z-index: 3
}

.caja {
    z-index: 2
}

.caja_gift {
    z-index: 1
}

.boxes .try.abierta > .caja_tapa {
    animation: tapa_superior 2s forwards
}

.boxes .try.premiazo > .caja_gift {
    animation: tapa_superior 4s infinite alternate
}

@keyframes tapa_superior {
    from {
        top: 0
    }
    to {
        top: -40px
    }
}

@media (max-width: 500px) {
    @keyframes tapa_superior {
        from {
            top: 0
        }
        to {
            top: -30px
        }
    }
}

#p_loading, .p_loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
    background-color: #dadada
}

.temblor:hover {
    animation: temblor .82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

@keyframes temblor {
    10%, 90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0)
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0)
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0)
    }
}

.temblor_inf {
}

@keyframes temblor_inf {
    0% {
        transform: translate(1px, 1px) rotate(0deg)
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg)
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg)
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg)
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

.p_modal img {
    max-width: 100%;
    max-height: 28vh
}

.p_modal {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif
}

.p_modal h2 {
    color: #575757;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    display: block
}

.p_modal p {
    color: #797979;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal
}

.p_modal_button {
    display: inline-block;
    box-shadow: rgba(140, 212, 245, .8) 0 0 2px, rgba(0, 0, 0, .0470588) 0 0 0 1px inset;
    background-color: #0090a2;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0;
    cursor: pointer
}

.checkmark {
    display: none
}

.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg)
}

.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: "";
    left: 1.75em;
    top: 3.5em;
    position: absolute
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1
    }
}

.circle-loader {
    border: 1px solid rgba(0, 0, 0, .2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

                /*   fenxiangyemian	*/
                .share_desc {
                    font-size: 14px;
                }

                .share_success {
                    display: none;
                }

                .container {
                    width: 100%;
                    background-color: #ffffff;
                    margin-right: auto;
                    margin-left: auto;
                }

                .share_body {
                    margin: 0 auto;
                    width: 90%;
                    background: #ffffff;
                    border-radius: 10px;
                }

                .share_hd_text {
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    color: #FF0000;
                }

                .share_main {
                    margin: 10px auto;
                    width: 100%;
                    background: #e6e6e6;
                    border-radius: 10px;
                }

                .share_main_bt {
                    margin: 10px auto;
                    background: #36A201;
                    border-radius: 10px;
                    width: 80%;
                    line-height: 45px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color: #FFFFFF;
                }

                .weui_dialog_text {
                    margin: 0 5px;
                    text-align: center;
                    font-size: 14px;
                    color: #222222;
                }

                .progress {
                    height: 20px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    background-color: #F5F5F5;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
                    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
                }

                .progress-bar-success {
                    height: initial;
                    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                }

                .progress-bar {
                    -webkit-animation: progress-bar-stripes 2s linear infinite;
                    -o-animation: progress-bar-stripes 2s linear infinite;
                    animation: progress-bar-stripes 2s linear infinite;
                }

                .progress-bar {
                    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                    -webkit-background-size: 40px 40px;
                    background-size: 40px 40px;
                }

                .progress-bar {
                    float: left;
                    width: 0%;
                    height: 100%;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFF;
                    text-align: center;
                    background-color: #337AB7;
                    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
                    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
                    -webkit-transition: width 0.6s ease;
                    -o-transition: width 0.6s ease;
                    transition: width 0.6s ease;
                }

                @keyframes progress-bar-stripes {
                    0% {
                        background-position: 40px 0;
                    }
                    100% {
                        background-position: 0 0;
                    }
                }


                .name, .profile {
                    cursor: pointer
                }
    
                .name {
                    font-weight: 700
                }
    
                .comments_face {
                    font-family: roboto, sans-serif;
                    background-color: #fff
                }
    
                .comments_face .comments {
                    background-color: #eeeff4;
                    border-bottom: 2px solid #fff;
                    padding: 10px
                }
    
                .comments_face .profile {
                    float: left;
                    width: 60px;
                    margin-right: 10px
                }
    
                .comments_face .comment-content img, .comments_face .profile img {
                    width: 100%
                }
    
                .comments_face .comment-content img, .comments_face .profile img, .comment-status img {
                    margin: 0 auto
                }
    
                .comments_face .comment-content {
                    padding-left: 70px
                }
    
                .comments_face p {
                    font-size: 14px
                }
    
                .comments_face .name {
                    margin: 0
                }
    
                .comments_face .comment-status span, .comments_face .name {
                    color: #3b5998
                }
    
                .comments_face .name, .comments_face .result {
                    font-weight: 700
                }
    
                .comments_face .button, .comments_face .name, .comments_face .profile {
                    cursor: pointer
                }
    
                .comments_face .comment-status {
                    font-size: 11px;
                    cursor: pointer
                }
    
                .comments_face .comment-status span, .comments_face .name {
                    color: #3b5998
                }
    
                .comments_face .button, .comments_face .main-content span {
                    color: red
                }
    
                .comments_face .clr {
                    clear: both
                }